:root {}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
}

body {
  background: rgb(195, 245, 255);
  background: linear-gradient(45deg, rgba(195, 245, 255, 1) 0%, rgba(0, 212, 255, 1) 28%, rgba(99, 99, 255, 1) 100%);
}

a {
  text-decoration: none;
}