.entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    min-width: 210px;
    min-height: 260px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 16px;
    padding: .5rem;
    width: 100%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}